Generateur/bin
Generateur/obj
Table2JsonMvc/bin
Table2JsonMvc/obj
/ModelBuilder/obj
/Table2Json/obj
/GoodIdea
/Millionaire/.vs/Millionaire
/NumberPrediction/NumberPrediction/obj
/NumberPrediction/NumberPrediction/bin
/.vs/Millionaire/v16
/Millionaire/CoreProject/bin/Debug/netstandard2.0
/Millionaire/CoreProject/obj/Release/netstandard2.0/CoreProject.assets.cache
/Millionaire/CoreProject/obj/Release/netstandard2.0/CoreProject.AssemblyInfoInputs.cache
/Millionaire/CoreProject/obj/CoreProject.csproj.nuget.cache
