Generateur/bin
Generateur/obj
Table2JsonMvc/bin
Table2JsonMvc/obj
/ModelBuilder/obj
/Table2Json/obj
/GoodIdea
/Millionaire/.vs/Millionaire
/NumberPrediction/NumberPrediction/obj
/NumberPrediction/NumberPrediction/bin
/NumberPrediction/NumberPrediction/*.csproj.user
/.vs/Millionaire/v16
/Millionaire/CoreProject/bin/**
/Millionaire/CoreProject/obj/**
/Millionaire/CoreProject/*.csproj.user
/Millionaire/.vs/*
/Generateur/Generateur.csproj.user
