
@{
    ViewBag.Title = "Parse Text";
}
@model NumberPrediction.Models.TextModel

@using (Html.BeginForm("Send", "ParseText", FormMethod.Post))
{
    <div class="row">
        @Html.TextAreaFor(model => model.Message, new { style = "width: 800px; height: 200px;" })
    </div>

    <div class="row">
        <button type="submit" >Send</button>
    </div>

}

